<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalLabel">Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
            </div>
            <div class="modal-body">
                <p>
                    Hold tight! Our team (Just one happy Junior dev.) is busy creating a seamless and magical Settings experience just for you.
                    It’s a bit of a "behind-the-scenes" operation right now, but soon enough, you'll be able to customize everything to your heart’s desire.
                    We appreciate your patience as we put the finishing touches on it!</p>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>